.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  margin-bottom: 1rem;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 1.75rem; /* Prevent the screen from bouncing up and down as the spinner slightly expands document length during rotation */
}

.refresh {
  padding: 0.25rem;
  /* margin-bottom: 1rem; */
}
