body {
  background-color: #0075a2;
  margin: auto;
  max-width: 640px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #adf5ff;
}

/*
 * Pulling in a design system or CSS framework seemed to heavy for this demo.
 * So I just am throwing in some global classes here
 */

/*
 * Card styling mostly taken from an example in the Tailwind card documentation
 * https://tailwindcss.com/components/cards/
 * However, for convenience I am throwing some padding on the card itself instead of the content
 */
.card {
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.75rem;
}
